<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Youtube Transcript Summerizer |About Us</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="icon" type="image/png" href="{{url_for('static',filename='icon/about.png')}}"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <!-- style css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">
    <!-- fevicon -->
    <link rel="icon" href="{{url_for('static',filename='images/fevicon.png')}}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.mCustomScrollbar.min.css')}}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout about-page">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{{url_for('static',filename='images/loading.gif')}}" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="index.html"><img src="{{url_for('static',filename='images/logo.jpg')}}" alt="logo" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">

                                        <li> <a href="/">Home</a> </li>
                                        <li class="active"> <a href="/about.html">About Us</a> </li>
                                        <li> <a href="/register.html">Register</a> </li>
                                        <li> <a href="/login.html">Login</a> </li>
                                        <li> <a href="/contact.html">Contact Us</a> </li>
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- end header inner -->
    </header>
    <!-- end header -->

    <div class="aboutbg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="abouttitlepage">
                        <h2>Applications Of Video Summarization</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- music-box  -->
    <div class="music-box about">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="for-box">
                        <i><img src="{{url_for('static',filename='icon/icon11.jpg')}}" alt="icon"/></i>
                        <h3>Surveillance Videos</h3>
                        <p>CCTV (Closed-circuit television) cameras are installed and surveillance videos are being recorded round the clock in security critical places resulting in a massive quantity of video data being generated endlessly. Security personnel is appointed in big organizations just to monitor these surveillance videos. Instead, this tedious labor can be carried out by an intelligent video summarization software system which gives a summary of the long surveillance videos.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="for-box">
                        <i><img src="{{url_for('static',filename='icon/icon12.jpg')}}" alt="icon"/></i>
                        <h3> Drone and Robots</h3>
                        <p>Cameras are being integrated into recently developed devices like drones and robots equipping them to record the videos at many places which are impossible to reach by humans. Summarizing these videos will ease the interpretation of this new class of videos.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="for-box">
                        <i><img src="{{url_for('static',filename='icon/icon13.png')}}" alt="icon"/></i>
                        <h3>Medical Videos</h3>
                        <p>Medical videos like endoscopic videos, recordings of medical procedures and surgery, diagnostic hysteroscopy videos etc. open up a wide variety of opportunities for automatic video summarization. The medical videos vary in length to a large extent subjected to the duration of medical procedures conducted. Summarizing lengthy medical videos enables the medical practitioners to carry out a detailed examination of the medical procedures and aids in teaching the procedures to medical students too. This will also allow the medical specialists to search for similar cases or go through the details of an old case straight away.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="for-box">
                        <i><img src="{{url_for('static',filename='icon/icon14.png')}}" alt="icon"/></i>
                        <h3> News, Movies, Sports and Internet Videos</h3>
                        <p>Summarizing news videos automatically allows us to quickly look out for the important patterns shown in the news. Generating a trailer of a movie and highlights of sports video recordings automatically are some of the engrossing applications of video summarization. It can also help people to manage the videos recorded from their mobile devices to provide easy access to the videos by representing them with summaries. Internet videos are another type of videos which need to be summarized before presenting them to the users.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end music-box  -->

    <!--  footer -->
    <footr>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 width">
                        <div class="address">
                            <h3>Contact Us</h3>
                            <ul class="locarion_icon">
                                <li><img src="{{url_for('static',filename='icon/1.png')}}" alt="icon" />104 DY Lohegaon, PUNE</li>
                                <li><img src="{{url_for('static',filename='icon/2.png')}}" alt="icon" />Phone : ( +71 5896547 )</li>
                                <li><img src="{{url_for('static',filename='icon/3.png')}}" alt="icon" />Email : demo@email.com</li>

                            </ul>

                            <ul class="contant_icon">
                                <li><img src="{{url_for('static',filename='icon/fb.png')}}" alt="icon" /></li>
                                <li><img src="{{url_for('static',filename='icon/tw.png')}}" alt="icon" /></li>
                                <li><img src="{{url_for('static',filename='icon/lin(2).png')}}" alt="icon" /></li>
                                <li><img src="{{url_for('static',filename='icon/instagram.png')}}" alt="icon" /></li>
                            </ul>
                        </div>
                    </div>
                   
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 width">
                        <div class="address">
                            <h3>New Music </h3>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                                    <figure><img src="{{url_for('static',filename='images/music1.jpg')}}" /></figure>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                                    <figure><img src="{{url_for('static',filename='images/music2.jpg')}}" /></figure>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                                    <figure><img src="{{url_for('static',filename='images/music3.jpg')}}" /></figure>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                                    <figure><img src="{{url_for('static',filename='images/music4.jpg')}}" /></figure>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p><b>© 2021 All Rights Reserved. <a href="/">YouTube Transcript Summarizer Team</a></b></p>
            </div>
        </div>
    </footr>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery-3.0.0.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/plugin.js')}}"></script>
    <!-- sidebar -->
    <script src="{{url_for('static',filename='js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/custom.js')}}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function() {

                $(this).addClass('transition');
            }, function() {

                $(this).removeClass('transition');
            });
        });
    </script>
</body>

</html>